

$color-primary: #545c64;

$color-primary-hover: #434a50;

$color-white: #fff;


$extra-sm: 5px;
$sm: 10px;
$base: 15px;
$medium: 20px;
$lg: 25px;
$extra-lg: 30px;

$spacing-col-extra-sm: $extra-sm;
$spacing-col-sm: $sm;
$spacing-col-base: $base;
$spacing-col-medium: $medium;
$spacing-col-lg: $lg;
$spacing-col-extra-lg: $extra-lg;


$spacing-row-extra-sm: $extra-sm;
$spacing-row-sm: $sm;
$spacing-row-base: $base;
$spacing-row-medium: $medium;
$spacing-row-lg: $lg;
$spacing-row-extra-lg: $extra-lg;

$font-extra-sm: 12px;
$font-sm: 13px;
$font-base: 14px;
$font-medium: 16px;
$font-lg: 18px;
$font-extra-lg: 20px;

$font-size-extra-sm: $font-extra-sm;
$font-size-sm: $font-sm;
$font-size-base: $font-base;
$font-size-medium: $font-medium;
$font-size-lg: $font-lg;
$font-size-extra-lg: $font-extra-lg;

$border-radius: 0;